{% extends "base.html" %}
{% load static %}


{% block headers %}
<title>Juegos</title>
{% endblock %}

{% block content %}
<div class="container lista">
    <ul class="list-group">
        {% for juego in juegos %}
        <li class="list-group-item">{{ juego.nombre }} &nbsp;<a href="{% url 'juegos_view' juego.id %}" class="btn btn-sm btn-success">Detalles</a>&nbsp;<a href="{% url 'juego_eliminar' juego.id %}" class="btn btn-sm btn-danger">eliminar</a></li>
        {% endfor %}
    </ul>    
</div>

{% endblock %}